<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "es.turing"
        versionCode = "4"
        version     = "1.9.0">
 
    <name>Reloj analógico y digital</name>
 
    <description>
        Un reloj analológico y digital con segundero
    </description>
 
    <author href="http://www.carlosalejandroperez.com" email="carloslej.perez@gmail.com">
        Carlos Pérez
    </author>
 	
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

 <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="splash/splash.png" density="land-hdpi"/>
    <splash src="splash/splash.png" density="land-ldpi"/>
    <splash src="splash/splash.png" density="land-mdpi"/>
    <splash src="splash/splash.png" density="land-xhdpi"/>
    <splash src="splash/splash.png" density="port-hdpi"/>
    <splash src="splash/splash.png" density="port-ldpi"/>
    <splash src="splash/splash.png" density="port-mdpi"/>
    <splash src="splash/splash.png" density="port-xhdpi"/>
</platform>
	<preference name="SplashScreen" value="screen"/>
	<preference name="SplashScreenDelay" value="5000"/>
</widget>
